*
  box-sizing border-box

html
  font-size 16px

body
  font-size 16px
  font-family 'dank mono', 'avenir', helvetica, arial, sans-serif
  line-height 1.5
  padding 0
  background-image linear-gradient(to top, #a1ffce 0%, #f8fbde 100%)
  overflow hidden
  height 100vh

ul
  margin 0
  padding-left 0
  list-style none

p
  font-size 1.25rem
  margin-top 0
  margin-bottom 1rem

h1
  margin-top 0
  margin-bottom 2rem
  font-size 4rem
  font-weight 700
  line-height 1.25

h2
  margin-top 0
  margin-bottom 1.5rem
  font-size 3rem
  font-weight 700
  line-height 1.25

h3
  margin-top 0
  margin-bottom 1rem
  font-size 2rem
  font-weight 700
  line-height 1.25

h4
  margin-top 0
  margin-bottom 0.75rem
  font-size 1.5rem
  font-weight 700
  line-height 1.25

h5
  margin-top 0
  margin-bottom 0.75rem
  font-size 1.5rem
  font-weight 400
  line-height 1.25

a
  text-decoration none
  color inherit
  outline none

input
  border 1px dotted #222222
  background rgba(34, 34, 34, 0.025)
  font-size 1.25rem
  line-height 1.25
  outline none

textarea
  border 1px dotted #222222
  background rgba(34, 34, 34, 0.025)
  font-size 1.25rem
  line-height 1.25
  outline none
  resize none
  overflow hidden
