html
  font-size 62.5%

body
  font-family Helvetica
  font-size 2rem
  line-height 1.25

h1, h2, h3, h4, h5, h6
  font-size 1.125em
  margin-top 1.125em
  margin-bottom 1.125em

ul
  list-style none
  padding-left 0